<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Commerce API</title>
    <style>
        body {
            width:50vw;
            height: auto;
            margin-left: 25vw;
            background-color: #f8f8f8;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* justify-content: center; */
            border: 1px dotted gray;
            padding: 0vw 3vw 0vw  3vw;
        }
        .header {
            display: flex;
            flex-direction: row;
           justify-content: space-around;
           align-items: center;
           background-color: rgb(25, 209, 199);
            height: 9vh;
            width: 56vw;
           

        }
        .first {
            width: 50vw;
            display: flex;
            flex-direction: row;
            /* justify-content: center; */
            align-items: center;
            margin: 3vw;
        }

        .me{
            width: 20vw;
            border-radius: 50%;
        }
        .second {
           
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            gap: 2vw;;
        }
        .about {
            border : 1px dotted black;
            padding: 10px;
            margin-right: 2vw;
            border-radius: 5px;
            font-size: 25px;
           
        }

        .second img{
               /* width: 2vw; */
               height: 5vh;
              
               border-radius: 5px; 
        }
        h2 {
            background-color: black;
            color: white;
            padding: 5px;
            border-radius: 5px;
        }

        p {
            color:rgb(34, 32, 31);
            font-size: large;

        }

        p span {
            color:rgb(246, 24, 20);
            font-size: 25px;
        }
        .third {
            height: 10vh;
        }
        .third h5 span{
            color: rgb(199, 6, 6);
            
        }
        .name , .check {
           background-color: white;
            padding: 5px;
            margin: 0%;
            text-decoration: none;
            color: black;
            border-radius: 5px;
        }
        .name:hover ,
         .check:hover {
            background-color: black;
            color: white;
         }
    </style>
</head>
<body>
   
    <header class="header">
            <h1 class="name">
                E-Commerce API  
            </h1>
            <a
href="https://github.com/rohit-bahuguna/e-commerce-API"
target="#"
class="check"
>
<h2 class="check">CheckOut To Use</h2></a
>
    </header>
    <section class="first">
        <p class="about">
            <span>E-commerce API </span> can be used with any type of shopping project that needs products, carts, and users in JSON
            format. you can use examples below to check how  E-Commerce API  works and feel free to enjoy it in your awesome
            projects!
        </p>
        <img src="https://avatars.githubusercontent.com/u/90442893?s=400&u=1c78027e5628c6e028713a8ee1f8b0a9ff7173a1&v=4" alt="" class="me">
        
    </section>
    <section class="second">
        <h2>Connect With Me</h2>
       <a href="https://www.linkedin.com/in/rohit--bahuguna/" target="#"> <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt="" class="linkedin"></a>
        <a href="https://github.com/rohit-bahuguna" target="#"><img src="https://cdn.iconscout.com/icon/free/png-256/github-159-721954.png" alt="" class="github"></a>
       <a href="https://www.instagram.com/the_rohit_bahuguna/" target="#"> <img src="https://cdn-icons-png.flaticon.com/512/174/174855.png" alt="" class="instagram"></a>
    </section>
    <section class="third"> <h5>E-Commerce API by <span>Rohit Bahuguna</span> </h5> </section>

</body>
</html>
